QLabel[biobrick=true]{
	border-width: 0px;
	border-radius: 2px;
	background-color: #002FA7;
	color: #FFFFFF;
	font-family: Helvetica;
	font-size: 18px;
        width: 100px;
	height: 29px;
	text-align: center;
}

QLabel[biobrickName=true]{
	border-width: 0px;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0);
	color: #333;
	font-family: Helvetica;
	font-size: 18px;
	width: 167px;
	height: 29px;
	text-align: center;
}

QLabel[recommendBioBrick=true]{
	border-width: 0px;
	border-radius: 2px;
	background-color:rgba(200, 200, 200, 50);
	color:#111;
	font-family: Helvetica;
	font-size: 18px;
	text-align: center;
}

QLabel[chosenReommendBioBrick=true]{
	border-width: 0px;
	border-radius: 2px;
	background-color:#C1C0C0;
	color:#111;
	font-family: Helvetica;
	font-size: 18px;
	text-align: center;
}

QLabel[usedRecommendBioBrick=true]{
	border-width: 0px;
	border-radius: 2px;
	background-color:rgba(216, 216, 216, 20);
	color:#111;
	font-family: Helvetica;
	font-size: 18px;
	text-align: center;
}
QLabel[biobrickImage=true]{
	border-width: 0px;
	text-align: center;
}


QLabel[partinfo=true]{
	border-width: 0px;
	border-radius: 1px;
	background-color: #60B8F4;
	color:#222;
	font-size: 15px;
	margin:0px, 0px, 0px, 0px;
	padding:5px, 5px, 5px, 5px;
}

QLineEdit{
	border-width: 1px;
	background-color: #FFF;
	color: #000;
	font-family: Helvetica;
	font-size: 14px;
	width: 229px;
	height: 36px;
}

QFrame[top=true]{
    background:qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                stop: 0 #60B1F4, stop: 1 #088DF9);
    width: auto;
    height: auto;
    margin-right: 5px;
    border-width: 1px;
border-color: #111;
}

QFrame[midleft=true]{
        background-color: #60B8F4;
        padding-top: 0px;
}

QFrame[midright=true]{
	padding-top: 5px;
	background-color: #60B8F4;
}

QFrame[bottomFrame=true]{
	background-color: #A3A3A3;
}


QPushButton[saveButton=true]{
	width: 60;
	height:40;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 3px;
	border-width: 0px;
	color:#444;
	font-style: italic;
	font-weight: lighter;
	font-size:16pt;
}
QPushButton[saveButton=true]:hover{
    background-color: rgba(0, 0, 0, 0);
    font-size: 18pt;
    color:#4A90E2;
}


QPushButton[exportButton=true]{
        width: 60px;
        height:40px;
    background-color: rgba(0, 0, 0, 0);
	border-radius: 3px;
	border-width: 0px;
	color:#444;
	font-style: italic;
	font-size:16pt;
	font-weight: lighter;
}

QPushButton[exportButton=true]:hover{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-width: 0px;
    color:#444;
    font-style: italic;
    font-size:16pt;
    font-weight: lighter;
    font-size: 18pt;
    color:#4A90E2;
}



BioBrickListView{
    background-color: rgb(10, 140, 229, 0);
    border-width: 1px;
	border-color: #111;
    border-color:#EAF6F6;
    border-radius:2px;
}

DesignPanel{
    background-image: url(:/image/network-locked-01.png);
    border-width: 3px;
	border-color: #111;
    border-radius:2px;
    vertical-align: center;
    padding-top: 120px;

}

QLabel[titleLabel=true]{
	/*background-color:#1A60AD;*/
	font-family: Helvetica;
	font-size: 20px;
        color:#eee;
        background-color: rgba(0,0,0,0);
	border-width: 1px;
	border-color: #111;
}

QListWidget[bottom=true]{
border-width:0px;
border-radius:2px;
margin-left: 5px;
margin-right: 5px;
border-width: 1px;
border-color: #497575;

}
