QLabel[biobrick=true]{
	border-width: 0px;
	border-radius: 2px;
	background-color: #002FA7;
	color: #FFFFFF;
	font-family: Helvetica;
	font-size: 18px;
        width: 100px;
	height: 29px;
	text-align: center;
}

QLabel[biobrickName=true]{
	border-width: 0px;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0);
	color: #333;
	font-family: Helvetica;
	font-size: 18px;
	width: 167px;
	height: 29px;
	text-align: center;
}

QLabel[recommendBioBrick=true]{
	border-width: 0px;
	border-radius: 2px;
	background-color:rgba(200, 200, 200, 50);
	color:#111;
	font-family: Helvetica;
	font-size: 18px;
	text-align: center;
}

QLabel[chosenReommendBioBrick=true]{
	border-width: 0px;
	border-radius: 2px;
	background-color:#C1C0C0;
	color:#111;
	font-family: Helvetica;
	font-size: 18px;
	text-align: center;
}

QLabel[usedRecommendBioBrick=true]{
	border-width: 0px;
	border-radius: 2px;
	background-color:rgba(216, 216, 216, 20);
	color:#111;
	font-family: Helvetica;
	font-size: 18px;
	text-align: center;
}
QLabel[biobrickImage=true]{
	border-width: 0px;
	text-align: center;
}


QLabel[partinfo=true]{
	border-width: 0px;
	border-radius: 1px;
	background-color: #8FB2F6;
	color:#222;
	font-size: 15px;
	margin:0px, 0px, 0px, 0px;
	padding:5px, 5px, 5px, 5px;
}

QLineEdit{
	border-width: 1px;
	background-color: #FFF;
	color: #000;
	font-family: Helvetica;
	font-size: 14px;
	width: 229px;
	height: 36px;
}

QFrame[top=true]{
    background:qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                stop: 0 #D9DBDC, stop: 1 #A3A6A7);
    width: auto;
    height: auto;
    margin-right: 5px;
    border-width: 1px;
border-color: #111;
}

QFrame[midleft=true]{
        background-color: #8FB2F6;
        padding-top: 0px;
}

QFrame[midright=true]{
	padding-top: 5px;
	background-color: #8FB2F6;
}

QFrame[bottomFrame=true]{
	background-color: #A3A3A3;
}


QPushButton[checkButton=true]{
	width: 60;
	height:40;
	background-color: #D0021B;
	border-radius: 3px;
	border-width: 0px;
	color:#CFCECF;
	font-style: italic;
	font-weight: lighter;
	font-size:12pt;
}
QPushButton[checkButton=true]:hover{
    background-color: rgba(208, 2, 27, 50);
    font-size: 14pt;
    color:#333;
}


QPushButton[projectButton=true]{
	width: 60;
	height:40;
	background-color: #1477EB;
	border-radius: 3px;
	border-width: 0px;
	color:#CFCECF;
	font-style: italic;
	font-weight: lighter;
	font-size:12pt;
}

QPushButton[projectButton=true]:hover{
background-color: rgba(74, 144, 226, 50);
    font-size: 14pt;
    color:#333;
}

QPushButton[exportButton=true]{
	width: 60;
	height:40;
	background-color: #C5A300;
	border-radius: 3px;
	border-width: 0px;
	color:#CFCECF;
	font-style: italic;
	font-weight: lighter;
	font-size:12pt;
}

QPushButton[exportButton=true]:hover{
background-color: rgba(197, 163, 0, 50);
    font-size: 14pt;
    color:#333;
}

QPushButton[saveButton=true]{
	width: 60;
	height:40;
	background-color: #09AF3B;
	border-radius: 3px;
	border-width: 0px;
	color:#CFCECF;
	font-style: italic;
	font-weight: lighter;
	font-size:12pt;
}
QPushButton[saveButton=true]:hover{
	background-color: rgba(15, 233, 81, 50);
	font-size: 14pt;
    color:#333;
}


BioBrickListView{
    background-color: #8FB2F6;
    border-width: 1px;
	border-color: #111;
    border-color:#EAF6F6;
    border-radius:2px;
}

DesignPanel{
    background-image: url(:/image/network-locked-01.png);
    border-width: 3px;
	border-color: #111;
    border-radius:2px;
    vertical-align: center;
    padding-top: 120px;

}

QLabel[titleLabel=true]{
	/*background-color:#1A60AD;*/
	font-family: Helvetica;
	font-size: 20px;
        color:#eee;
        background-color: rgba(0,0,0,0);
	border-width: 1px;
	border-color: #111;
}

QListWidget[bottom=true]{
border-width:0px;
border-radius:2px;
margin-left: 5px;
margin-right: 5px;
border-width: 1px;
border-color: #497575;

}
